<!DOCTYPE html> 
<html>
    <head>
        <title>Weather App</title>
        <link rel="stylesheet" href="./css/styles.css">
        <script src="/js/main.js"></script>
    </head>
    <body>
        <div class="main">
        {{>header}}
        <h3>{{errorText}}</h3>
        </div>
        {{>footer}}
    </body>
</html>