<!DOCTYPE html> 
<html>
    <head>
        <title>About - Weather App</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main">
        {{>header}}
        
        <img class="profile" src="/images/pp-balwant.jpg" />
        </div>
        {{>footer}}
    </body>
</html>